<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>546914795892-83cbjrg6rnoib5d2ip4k76gdkqp3ef18.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.546914795892-83cbjrg6rnoib5d2ip4k76gdkqp3ef18</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>546914795892-btst7bpi735dj5hm27r6idrf8gp8uhao.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBa8cVbkJ2byuIC0blLA4WW-jvMU0aZqLg</string>
	<key>GCM_SENDER_ID</key>
	<string>546914795892</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.panyero</string>
	<key>PROJECT_ID</key>
	<string>panyero-ifbb3n</string>
	<key>STORAGE_BUCKET</key>
	<string>panyero-ifbb3n.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:546914795892:ios:c5894cf6d1e7d68626ac21</string>
	<key>DATABASE_URL</key>
	<string>https://panyero-ifbb3n-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>